.Weather {
  border: 1px solid #dadde1;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 4px;
  font-family: arial, sans-serif;
}

.Weather h1 {
  color: rgb(31, 5, 53);
  font-size: 35px;
  font-weight: 100;
  margin: 10px 0 10px 0;
  line-height: 24px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 60px;
  line-height: 64px;
  font-weight: 400;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  top: -34px;
  margin-left: 5px;
}

.WeatherInfo .HumidityColor {
  color: rgb(31, 5, 53);
}

.WeatherInfo .WindColor {
  color: rgb(31, 5, 53);
}

.WeatherInfo .DateDescription {
  margin-top: 4px;
}

.WeatherInfo .InfoDescription {
  margin: auto;
}

.WeatherTemperature a {
  text-decoration: none;
}
